body {
  margin: 0;
  height: 100vh;
  width: auto;
}
/*general*/
#conteneur {
  display: grid;
  height: 100%;
  width: auto;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
  background-color: #f1f5f9;
}

/* header */
#header {
  border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  border: 1px solid green;
  display: flex;
  color: #45947e;
}

#pages {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
}

/* contenu */
#contenu {
  border: 1px solid red;
  grid-row-start: 2;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./images/background.jpg");
  background-size: 100%;
}

#text {
  height: 15%;
  width: 100%;
  border: 1px solid yellow;
  margin: 0%;
  color: white;
}

/* boites */
#boxes {
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  margin: 0%;
}

#cherche {
  border: 1px solid green;
  border-radius: 2%;
  height: 70%;
  width: 20%;
  margin-right: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#resultat {
  border: 1px solid purple;
  border-radius: 2%;
  height: 70%;
  width: 20%;
  margin-left: 5%;

  background-color: white;
}
